DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
NEXTAUTH_SECRET="generate-a-random-32-byte-string"
NEXTAUTH_URL="http://localhost:3000"
WEBHOOK_SECRET="generate-a-random-secret-for-webflow"
